body {
    font-family: sans-serif;
    background: black;  
    padding-top: 50px;
  }
  
  *{
    font-family: 'Poppins', sans-serif !important;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


h1{
    color: #FFF;
}

/*navbar*/

.navbar{
background: #222 !important;
line-height: 2rem !important;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}

.navbar .navbar-brand{
color: #FFF !important;
}

.navbar-nav .active a{
color: #0ebbff !important;
}

.navbar-nav .nav-item .nav-link{
color: #FFF;
}
.dropdown-menu {
background: #22221E;
}
.dropdown-menu .dropdown-item{
color: #FFF;
transition: all 0.2s;
}
.dropdown-menu .dropdown-item:hover{
background: #0a5bc5;
color: #FFF;
}
.navbar-toggler-icon{
color: #FFF !important;
}
.navbar-dark .navbar-toggler{
border-color: #FFFFFF !important;
}

img 
{
    height: 300px;
    width: auto;
    padding: 5px;  
    border-radius: 15px;
}


.container{
    max-width: 1860px;
    text-align:center;
    display: flex;
}
  